// Override styles from @notifi-network/notifi-react-card/dist/index.css (main.ts)
:root {
  --notifi-color-brand: #5959f4;
  --notifi-color-brand-secondary: #a9e2fc;
  --notifi-color-card: #14192E;
  --notifi-color-gray-secondary: #3b394a;
  --notifi-color-heather: #b6b8d5;
  --notifi-color-gray-tooltip: #4c4c61;
  --notifi-color-light-green: #b4e2ac;
  --notifi-lineart-gradient-dark: linear-gradient(
    90.09deg,
    #364A93 -0.96%,
    #6E5DC9 99.92%
  );
  --notifi-lineart-gradient-light: linear-gradient(
    90deg,
    #5959f4 0%,
    #85bbf2 100%
  );
}

.notifi-target-state-banner-verify-cta {
  color: #A3A4AF !important;
}

.notifi-card-modal {
  font-family: Prompt, Helvetica, Arial, sans-serif !important;
  width: 370px;
  height: unset !important;
  border-radius: 22px !important; 
  background-color: var(--notifi-color-card) !important;
  overflow: hidden !important;
  border: 1px solid #00296b !important;
} 

.notifi-connect {
  height: 373px !important; 
}

.notifi-connect-button, 
.notifi-ftu-target-list-button {
  background: var(--notifi-lineart-gradient-dark) !important; 
  color: white !important; 
  border-radius: 16px !important; 
}
.notifi-target-list-item { 
  border: #20283D 1px solid;
}

.notifi-target-list-item-target {
  border: 2px solid transparent;
}

.notifi-target-list-item-content {
  background-color: #0C1021 !important;
}

.notifi-target-list-item-warning {
  background-color: #20283D !important;
}

.notifi-target-cta-button {
  border: 2px solid #7F91F6 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  padding: 0rem 0rem !important;
  border-radius: 12px;
}

.notifi-target-cta-button.disabled {
  height: 1.8rem !important; // TODO: consider better approach
}

.notifi-target-state-banner {
  background-color: #0C1021 !important;
}
.notifi-target-state-banner-verify.history {
  background-color: #0C1021 !important;
  border: none !important;
}

.notifi-target-state-banner-verify {
  border: 1px #20283D solid;
  border-radius: 8px;
}

.notifi-target-state-banner-verify-cta.history {
  border: 2px solid #7F91F6 !important;
  background: rgba(0, 0, 0, 0) !important;
  padding: 0.05rem 0.05rem !important;
  border-radius: 12px;
}

.notifi-target-list-item-input-form {
  background-color: #0C1021 !important;
  margin-top: -3px;
  padding-top: 3px;
  border-radius: 0 0 8px 8px;
}

.notifi-target-input-field-input-container {
  background-color: var(--notifi-color-card);
}

.notifi-target-list-item-remove {
  top: 0.5rem !important;
}

.notifi-connect-button .notifi-spinner-container {
  width: 24px !important;  
  height: 24px !important; 
}

.notifi-topic-row {
  background-color: #0C1021 !important;
  border: 1px solid #20283D !important;
}

.notifi-topic-row-content {
  align-items: baseline;
}

.notifi-tooltip-content {
  background-color: var(--notifi-color-card) !important;
  border: 1px solid #0D2867 !important;
}

.notifi-spinner-container {
  width: 16px !important;
  height: 16px !important;
}
.notifi-spinner {
  top: 1rem !important;
}


.powered-by-notifi {
  align-items: center;
}

.notifi-inbox,
.notifi-ftu {
  height: 620px !important;
}

.notifi-inbox-history-detail-header, .notifi-inbox-history-list-header, .notifi-inbox-config-topic-header, .notifi-inbox-config-target-header {
  background-color: #0C1021 !important;
  border: none !important;
}

.notifi-inbox-nav-tabs {
  background-color: #0C1021 !important;
  border-top: #00296b 1px solid !important; 
}

.notifi-history-list-empty-description {
  color: #A3A4AF !important;
}
.notifi-history-row {
  background-color: #0C1021;
}
.notifi-history-row-unread-indicator {
  background-color: #7F91F6 !important;
}

.notifi-history-row-title-text {
  font-weight: 500;
  font-size: 15px;
}

.notifi-history-row-timestamp {
  font-size: 12px;
  font-weight: 300;
  color: #A3A4AF;
}
.notifi-history-row-subject {
  font-size: 14px;
  font-weight: 400;
  color: #A3A4AF;
}

// .notifi-history-list-loading-more{
//   padding: 0;
// }

// .notifi-history-list-loading-more .notifi-spinner{
//   top: -3px !important;
// }


.notifi-history-detail {
  background-color: transparent !important;
}

.notifi-history-detail-timestamp {
  color: #A3A4AF !important;
}

.notifi-toggle-slider {
  background-color: #323E60 !important;
}

.notifi-toggle-input:checked + .notifi-toggle-slider {
  background-color: #7F91F6 !important;
}

// @media screen and (max-width: 1024px) {
//   .NotifiSubscriptionCard__container {
//     width: 365px;
//     top: 40px;
//     max-height: 580px;
//     max-width: 350px;
//   }
// }
